---
os: linux
language: ruby
cache: bundler
services:
  - redis
rvm:
  - 2.5.5
  - 2.6.3
  - 2.7.0
  - 3.0.1
gemfile:
  - gemfiles/Gemfile-5-2
  - gemfiles/Gemfile-6-0
  - gemfiles/Gemfile-7-0
before_install: gem install bundler -v 2.1.0
before_script: bundle install
script: RAILS_ENV=test bundle exec rspec
jobs:
  exclude:
    - rvm: 2.5.5
      gemfile: gemfiles/Gemfile-7-0
    - rvm: 2.6.3
      gemfile: gemfiles/Gemfile-7-0
